[submodule "root/src/github.com/io-core/ArgParse/"]
        url = root/src/github.com/io-core/ArgParse/
[submodule "root/src/github.com/io-core/Assist/"]
        url = root/src/github.com/io-core/Assist/
[submodule "root/src/github.com/io-core/BASIC/"]
        url = root/src/github.com/io-core/BASIC/
[submodule "root/src/github.com/io-core/Boot"]
	url = https://github.com/io-core/Boot
[submodule "root/src/github.com/io-core/Build"]
	url = https://github.com/io-core/Build
[submodule "root/src/github.com/io-core/C/"]
        url = root/src/github.com/io-core/C/
[submodule "root/src/github.com/io-core/Crypto"]
	url = https://github.com/io-core/Crypto
[submodule "root/src/github.com/io-core/Doc"]
	url = https://github.com/io-core/Doc
[submodule "root/src/github.com/io-core/Draw"]
	url = https://github.com/io-core/Draw
[submodule "root/src/github.com/io-core/Edit"]
	url = https://github.com/io-core/Edit
[submodule "root/src/github.com/io-core/Examples/"]
        url = root/src/github.com/io-core/Examples/
[submodule "root/src/github.com/io-core/Experiments/"]
        url = root/src/github.com/io-core/Experiments/
[submodule "root/src/github.com/io-core/Files"]
	url = https://github.com/io-core/Files
[submodule "root/src/github.com/io-core/Go/"]
        url = root/src/github.com/io-core/Go/
[submodule "root/src/github.com/io-core/Index"]
	url = https://github.com/io-core/Index
[submodule "root/src/github.com/io-core/Kernel"]
	url = https://github.com/io-core/Kernel
[submodule "root/src/github.com/io-core/Mod"]
	url = https://github.com/io-core/Mod
[submodule "root/src/github.com/io-core/Modules"]
	url = https://github.com/io-core/Modules
[submodule "root/src/github.com/io-core/Oberon"]
	url = https://github.com/io-core/Oberon
[submodule "root/src/github.com/io-core/Paint"]
	url = https://github.com/io-core/Paint
[submodule "root/src/github.com/io-core/Pascal/"]
        url = root/src/github.com/io-core/Pascal/
[submodule "root/src/github.com/io-core/Prolog/"]
        url = root/src/github.com/io-core/Prolog/
[submodule "root/src/github.com/io-core/Script"]
	url = https://github.com/io-core/Script
[submodule "root/src/github.com/io-core/System"]
	url = https://github.com/io-core/System
[submodule "root/src/github.com/io-core/Test/"]
        url = root/src/github.com/io-core/Test/
[submodule "root/src/github.com/io-core/Test"]
	path = root/src/github.com/io-core/Test
	url = https://github.com/io-core/Test
[submodule "root/src/github.com/io-core/Prolog"]
	path = root/src/github.com/io-core/Prolog
	url = https://github.com/io-core/Prolog
[submodule "root/src/github.com/io-core/Pascal"]
	path = root/src/github.com/io-core/Pascal
	url = https://github.com/io-core/Pascal
[submodule "root/src/github.com/io-core/Go"]
	path = root/src/github.com/io-core/Go
	url = https://github.com/io-core/Go
[submodule "root/src/github.com/io-core/Examples"]
	path = root/src/github.com/io-core/Examples
	url = https://github.com/io-core/Examples
[submodule "root/src/github.com/io-core/C"]
	path = root/src/github.com/io-core/C
	url = https://github.com/io-core/C
[submodule "root/src/github.com/io-core/BASIC"]
	path = root/src/github.com/io-core/BASIC
	url = https://github.com/io-core/BASIC
[submodule "root/src/github.com/io-core/Assist"]
	path = root/src/github.com/io-core/Assist
	url = https://github.com/io-core/Assist
[submodule "root/src/github.com/io-core/ArgParse"]
	path = root/src/github.com/io-core/ArgParse
	url = https://github.com/io-core/ArgParse
[submodule "root/src/github.com/charlesap/Draft"]
	path = root/src/github.com/charlesap/Draft
	url = https://github.com/charlesap/Draft
[submodule "root/src/github.com/io-core/Attest"]
	path = root/src/github.com/io-core/Attest
	url = https://github.com/io-core/Attest
